# All mandatory dependencies for the project are listed below. You can install them using pip:
langchain
langchain-core
langchain-community
pypdf
pymupdf
ipykernel

# For document loading, you can install the following libraries based on your requirements. You don't need to install all of them, just the ones that are relevant to the file types you want to load.
docx2txt # for docx file loading in Docx2txtLoader
unstructured # for unstructured file loading in UnstructuredFileLoader or UnstructuredWordDocumentLoader or UnstructuredExcelLoader
python-docx # for docx file loading in PythonDocxLoader

# For excel file loading, you can install the following library:
openpyxl # for excel file loading in OpenPyXLLoader
pandas # for excel file loading in PandasExcelLoader
networkx

# For embedding models, you can install the following libraries based on your requirements. You don't need to install all of them, just the ones that are relevant to the embedding models you want to use.
sentence-transformers # for SentenceTransformer embedding models
openai # for OpenAI embedding models

# For vector stores, you can install the following libraries based on your requirements. You don't need to install all of them, just the ones that are relevant to the vector stores you want to use.
faiss-cpu # for FAISS vector store
chromadb # for Chroma vector store
pinecone-client # for Pinecone vector store

# For LLMs, you can install the following libraries based on your requirements. You don't need to install all of them, just the ones that are relevant to the LLMs you want to use.
openai # for OpenAI LLMs
langchain-groq # for GROQ LLMs
python-dotenv # for loading environment variables from .env file